@model Kurs
@{
ViewData["Title"] = "Edit Page";
}
<div class="row">
<form asp-controller="Kurs" asp-action="Edit" method="post">


  <div asp-validation-summary="All" class="text-danger"></div>

  <input type="hidden" asp-for="KursId"/>


  <div class="mb-3">
    <label asp-for="Baslik" class="form-label"> </label>
    <input asp-for="Baslik" class="form-control">
  </div>


  <button type="submit" class="btn btn-primary">Kaydet</button>


</form>
<div class="col-4">
    Ogrenciler
    <ul>
      @foreach(var item in @Model.KursKayitlar){


      <li>@item.Ogrenci.OgrenciAd</li>

      }
    </ul>
  </div></div>